RUST_BACKTRACE=1
RUST_LOG=info
APP_ENV=test

RUN_HOST=0.0.0.0
RUN_PORT=9600

JWT_SECRET=xxxxxx
JWT_KID=xxxxxxx

PG_URL=postgresql://postgres:postgres@localhost:5432/dbname

REDIS_URL=redis://redis:6379/1

ORIGINS=http://localhost

S3_AVATAR_URI=https://xxxxxx/avatar/